include pug/libs/_libs

doctype html
include pug/_head
h1 Заголовок
.container__subtitle
  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, ducimus! Nisi
  | quidem totam modi eos id laudantium enim quas libero, accusamus, adipisci fuga cumque obcaecati ratione voluptate et



